body {
  position: relative;
  color: #ffffff;
}

main {
  margin-top: 61px;
  background-image: url("../assets/background_with_title.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-link {
  color: #020e27;
}

.nav-link:focus,
.nav-link:hover {
  color: #020e2761;
}

.nav-pills .nav-link.active {
  color: #ffffff;
  background-color: #020e27;
}

section:first-of-type {
  height: 90vh;
  width: 100%;
}

section {
  padding-top: 75px;
  padding-bottom: 75px;
}

.lead {
  padding-bottom: 55px;
}

.rotate {
  padding-bottom: 75px;
}

.images {
  padding-bottom: 75px;
}

.rotate .row .col {
  margin-top: -50px;
}

.rotate .row .col:first-of-type {
  margin-top: 0px;
}

.rotate .row .col:last-of-type {
  margin-bottom: 5px;
}

.flip-image {
  background-color: transparent;
  perspective: 1000px;
  cursor: pointer;
}

.flip-image-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* .flip-image:hover .flip-image-inner {
  transform: rotateY(180deg);
} */

.flip-image.flip .flip-image-inner {
  transform: rotateY(180deg);
}

.flip-image-front,
.flip-image-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  text-align: left;
}

.flip-image-back {
  transform: rotateY(-180deg);
}

.rotate-left-15 {
  transform: rotate(-15deg);
}

.rotate-right-15 {
  transform: rotate(15deg);
}

.rotate-left-7 {
  transform: rotate(-7deg);
}

.rotate-right-7 {
  transform: rotate(7deg);
}

.float-image-left {
  transform: translateY(0px);

  animation: float-left 6s ease-in-out infinite;
}

.float-image-right {
  transform: translateY(0px);

  animation: float-right 6s ease-in-out infinite;
}

@keyframes float-left {
  0% {
    transform: translateY(0px) rotate(-7deg);
  }

  50% {
    transform: translateY(-20px) rotate(-7deg);
  }

  100% {
    transform: translateY(0px) rotate(-7deg);
  }
}

@keyframes float-right {
  0% {
    transform: translateY(0px) rotate(7deg);
  }

  50% {
    transform: translateY(20px) rotate(7deg);
  }

  100% {
    transform: translateY(0px) rotate(7deg);
  }
}

@media (max-width: 991px) {
  main {
    background-position: center center;
  }

  .lead {
    line-height: 1.2;
  }
}
